@font-face {
    font-family: 'AgoraSansPro';
    src: url('../fonts/agorasansprobold-webfont.woff2') format('woff2'),
         url('../fonts/agorasansprobold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'AgoraSansPro';
    src: url('../fonts/agorasansprolight-webfont.woff2') format('woff2'),
         url('../fonts/agorasansprolight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'AgoraSansPro';
    src: url('../fonts/agorasansproregular-webfont.woff2') format('woff2'),
         url('../fonts/agorasansproregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'AgoraSansPro';
    src: url('../fonts/agorasansprothin-webfont.woff2') format('woff2'),
         url('../fonts/agorasansprothin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'AgoraSansPro';
    src: url('../fonts/agorasansproxthin-webfont.woff2') format('woff2'),
         url('../fonts/agorasansproxthin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}