.header__top {
    padding: 20px 0;
    background: #fff;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__nav-toggle {
    position: relative;
    padding: 0;
    margin-right: 66px;
    width: 40px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;

    &--active .header__nav-toggle-inner {
        &:nth-child(1) {
            transform: rotate(30deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: rotate(-30deg) translate(2px, 1px);
        }
    }
}

.header__nav-toggle-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background: #000;
    transition: transform .5s, opacity .5s;

    &:nth-child(1) {
        transform-origin: left top;
    }

    &:nth-child(2) {
        top: 10px;
    }

    &:nth-child(3) {
        top: 20px;
        transform-origin: left bottom;
    }
}

.header__nav-list {
    display: none;
}

.header__tel {
    margin-left: auto;
    margin-right: 56px;
    padding: 10px 35px;
    border-radius: 10px;
    background: $yellowColor;
    
    a {
        color: #212121;
        font-weight: 300;
        text-decoration: none;
        border-bottom: 1px dotted #212121;
    }
}

.header__logout {
    width: 33px;
    height: 29px;
    background: url('../img/exit.png') no-repeat center;
    background-size: contain;
}

.header__banner {
    padding-top: 40px;
    min-height: 547px;
    background: url('../img/header-bg.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}

.header__heading {
    margin: 0;
    margin-bottom: 7px;
    font-size: 60px;
    font-weight: 100;
}

.header__subheading {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 300;
}